{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_detail.css' %}" />

<div class = "detailcontainer">

<h1>Post Detail</h1>

<table>
    <tr>
        <td>
            <b>
    {% if object.postUser != None and object.postUser != " " %}
        Posted By: {{ object.postUser }}
    {% else %}
        User Name not available
    {% endif %}
            
        <br>
        Question: </b><br><br>{{ object.postQuestion }}</td></tr>

    <tr><td>    
        {% if object.postAnswer != None and object.postAnswer != "" %}
        <b>Post Answer:</b><br><br>{{ object.postAnswer }}<br>
        <b>Answered By: {{ object.postAnswerer }}</b>

    {% else %}
        <b>
            Post Not answered yet
        </b>
    {% endif %}</td></tr>


</table>

</div>
{% endblock %}