{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class = "postscontainer">
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_oracle.css' %}" />

<a href = '{{ instance.get_absolute_url }}create/' id = "createnew"> Create New Post</a>
<br><br>
<table>
{% for instance in object_list %}
    <tr>
        <td>
    <ul class = "item">
        <li>
    <b>Posted By:</b>
    {% if instance.postUser.userName != None and instance.postUser.userName != " " %}
        {{ instance.postUser }}
    {% else %}
        User Name not available
    {% endif %}
        </li>

        <li><b>
    Post Question: </b>{{ instance.postQuestion }}
    </li>


    {% if instance.postAnswer != None and instance.postAnswer != "" %}
        <li><b>Answered By: {{ instance.postAnswerer }}</b></li>
        <li><b>Answer: </b>{{ instance.postAnswer }}</li>
    {% else %}
        <li>Not Answered </li>
    {% endif %}
    </li>
    
    <li>
    <a href = '{{ instance.get_absolute_url }}'> Detail </a>

    {% if request.user.userType == "administrator" %}

    <a href = '{{ instance.get_absolute_url }}answer/'> Answer </a>

    <a href = '{{ instance.get_absolute_url }}delete/'> Delete </a>
    </li>
    
    {% endif %}
    </li>
    </ul>
    </td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}
