{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_detail.css' %}" />

<div class = "detailcontainer">

<h1>Contest Detail</h1>
<h2>Contest Name: {{ object.contestName }}</h2>
    
{% if request.user.userType == "administrator" %}
<table>
    <tr>
        <th>
            Scheduled Date
        </th>
        <th>Contest Time</th>
        <th>Contest Duration</th>
        <th>Contest Status</th>
    </tr>
    <tr>
    <td>
        {{ object.contestDate }}
    </td>
    <td>{{ object.contestHours }} Hours 

    {% if object.contestMinutes != 0 and object.contestHours != " " %}
        and {{ object.contestMinutes }} minutes
    {% endif %}
    </td>
    <td>{{ object.contestDuration }} </td>
    <td>
        {% if object.isRunning == True %}
            Contest Active
            Start Time: {{ object.startTime }}
        {% else %}
            Contest Closed
        {% endif %}
    </td>
</td>
</tr>
</table> 

<b><a href = '{{object.get_absolute_url }}update' class = "update"> Update </a></b><br><br>
<b><a href = '{{object.get_absolute_url }}problems/create' class = "update"> Add  Problems </a></b>
<table>
    <tr><th>Current Teams</th></tr>
    
        {% for instance in object.contestants.all %}
        <tr><td>
            {{ instance }}
        </td></tr>
        {% endfor %}
</table>

{% endif %}
    
<table>
    <th> Problem Set </th>

    {% for instance in object.contestproblems.all %}

    <tr>
        <td>
            <a href = '{{ object.get_absolute_url }}problem/{{instance.pk}}/'> {{ instance.problemName }}</a>
        </td>
    </tr>
    {% endfor %}
</table>

</div>
{% endblock %}