{% extends 'base.html' %}
{% block content %}

{% load static %}
<div class = "container">
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_lists.css' %}" />

{% if request.user.userType == "administrator" %}
    <a href = '{{ get_absolute_url }}create/' id = "createnew"> Create New Contest</a>
    <br><br>
    <table>
        <tr>
            <th>Contest Name</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Submissions</th>
            <th>Scoreboard</th>
        </tr>
        {% for instance in object_list %}
        <tr>
        <td>
            <a href = '{{ instance.get_absolute_url }}' > 
                {{ instance.contestName }}
            </a>
        </td>
 
        <td><a href = '{{ instance.get_absolute_url }}start' > start </a></td>
        <td><a href = '{{ instance.get_absolute_url }}stop' > stop </a></td>
        
        {% if instance.isRunning == True %} 
        <td>Running</td>
        {% else %}
        <td>Stopped</td>
        {% endif %}

        <td><a href = '{{ instance.get_absolute_url }}update' > update </a></td>
        <td><a href = '{{ instance.get_absolute_url }}delete' > delete </a></td>
        <td><a href = '{{ instance.get_absolute_url }}submissions' > submissions </a></td>
        <td><a href = '{{ instance.get_absolute_url }}scoreboard' > scoreboard </a></td>

</tr>
{% endfor %}
</table>
{% elif request.user.userType == "grader" %}
<table>
    <tr>
        <th>Contest Name</th>
        <th>Submissions</th>
        <th>Scoreboard</th>
    </tr>
    {% for instance in object_list %}
    <tr>
    <td>
        <a href = '{{ instance.get_absolute_url }}' > 
            {{ instance.contestName }}
        </a>
    </td>
    <td><a href = '{{ instance.get_absolute_url }}submissions' > submissions </a></td>
    <td><a href = '{{ instance.get_absolute_url }}scoreboard' > scoreboard </a></td>

</tr>
{% endfor %}
</table>

{% else %}
<h2>You are part of the following contests</h2>
<table>
    <tr>
        <th>Contest Name</th>
        <th>Scoreboard</th>
    </tr>
    {% for instance in object_list %}
    <tr>
    <td>
        <a href = '{{ instance.get_absolute_url }}' > 
            {{ instance.contestName }}
        </a>
    </td>
    <td><a href = '{{ instance.get_absolute_url }}scoreboard' > scoreboard </a></td>

</tr>
{% endfor %}
</table>

{% endif %}
</div>
{% endblock %}
