{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_detail.css' %}" />

<div class = "pdetailcontainer">

<h1>Problem Detail</h1>
    <table>
        <tr>
            <td><b>Problem Name: </b> <br><br> {{ object.problemName }}</td>
            
            {% if object.contest.isRunning == True %}
            <td rowspan="3" class = "submitbtn">
            {% if currSubmission.submissionGrade != "pass" %}
                <b><a href = "{{ request.path }}submit">Submit</a></b>
            {% else %}
            <b><a href = "{{ request.path }}submit">Submission Accepted</a></b><br><br> 
            {% endif %}
            </td>
            {% endif %}
        </tr>

        <tr><td><b>Problem Information: </b><br><br>{{ object.problemInformation }}</td></tr>
        <tr><td><b>Sample Run:</b><br><br>{{ object.problemTests }}</td></tr>
        
</table>    
</div>
{% endblock %}