{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_scoreboard.css' %}" />

<div class = "scoreboardcontainer">

<h1>Latest Submissions for contest</h1>
<h3><a href = "{{ request.path }}delete"> Delete all submissions</a></h3>

<table>

    <tr>
        <td><b>User Name</b></td>
        <td><b>Problem Name</b></td>
        <td><b>Submission </b></td>
        <td><b>Language</b></td>
        <td><b>Proceed to Download</b></td>
        <td><b>Force Download</b></td>
        <td><b>Graded Status</b></td>
        <td><b>Grade</b></td>
        <td><b>Submissions</b></td>
    </tr>
{% for instance in object_list %}
    <tr>
        <td> {{ instance.submissionTeam.userName }} </td>
        <td> {{ instance.submissionProblem.problemName }} </td>
        <td> {{ instance.submissionName }}</td>
        <td>{{ instance.submissionLanguage|upper }}</td>

        {% if instance.submissionGrade == "inprocess" %}
            <td>Grading In Process</td>
        {% else %}
            <td><a href = "{{ instance.confirm_download_url }}"> Download File </a></td>
        {% endif %}
        <td><a href = "{{ instance.submissionFile.url }}">Force Download </a></td>
        <td>
        {% if instance.submissionGrade == "pass" or instance.submissionGrade == "fail" %}
            <a href = "{{ instance.get_grading_url }}"> Graded </a>
        {% else %}
            <a href = "{{ instance.get_grading_url }}"> Ungraded </a>
        {% endif %}
        </td>
        <td>
        {{ instance.submissionGrade }}
        </td>
        <td><a href = "{{ request.path }}{{ instance.submissionTeam.id }}">All submissions</a></td>
    </tr>
    
{% endfor %}

</table>
</div>

{% endblock %}