{% extends 'base.html' %}
{% load app_tags %}
{% block content %}

{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_scoreboard.css' %}" />

<div class = "scoreboardcontainer">

<h1>Contest Scoreboard</h1>
<h2>Contest Name: {{ contest.contestName }}</h2>

{% if request.user.userType == "team" and not active_status %}
    <h2>Less than 30 minutes left for contest closing, Scoreboard Unavailable</h2>
{% else %}

<table>
    <tr>
        <td>TeamName<br>Problems</td>
        {% for problem in problem_list %}
            <td>{{ team }} {{ problem }}</td>
        {% endfor %}
        <td>Total Score</td>
    </tr>
    {%for team in team_list %}
    <tr>
        <td> {{ team.userName }} </td>
        {% with score_data|get_item:team as team_submissions %}
        
        {% for problem in problem_list %}
        {% with team_submissions|get_item:problem as eachSubmission %}
        <td class="{% if eachSubmission.submissionGrade == 'pass' %} pass {% elif eachSubmission.submissionGrade == 'fail' %} fail {% else %} ungraded {% endif %}">
            
                Total Score: {{ eachSubmission.get_submission_score }} <br>
                Total Submissions: {{ eachSubmission.totalSubmissionCount }}
        </td>
            {% endwith %}
        
        {% endfor %}
        <td>Total Score: {{ team_submissions|get_item:"sum" }}</td>

        {% endwith %}
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>

{% endblock %}