<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $document.ready(function(){
            $('#div_refresh').load("{{request.path}}/test2.html");
            setInterval(function(){
                $('#div_refresh').load("{{request.path}}/test2.html");
            },1000);
        });
    </script>
</head>
<body>
    hello
    "{{ request.path }}"
    <div id = "div_refresh">replace</div>
</body>
</html>