#container2{
    text-align: center;
    background-color:white;
}
#container2 th, #container2 td{
    border: 1px solid black;
    width: 160px;
    height: 30px;
}

#container2{
    text-align: center;
    background-color:white;
}

#container2 table{
    border: 1px solid black;
    font-size: 16px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#container2 td{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

form{
    color: orangered;
}

.container {
    border-radius: 5px;
    background-color:white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.container table{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-spacing: 10px;
}

.container td{
    height: 40px;
}


#last{
    text-align:center;
}

input[type = submit]{
    background-color: orange;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
    height: 35px;
    width: 80px;
}
