.postscontainer{
    position: relative;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font-size: 18px;
    margin-top: auto;
}

.postscontainer table{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: left;
   
}
.postscontainer table,.postscontainer td,.postscontainer th:not(a){
    border: 2px solid black;
    padding: 15px;
    line-height: 3em;
}

.postscontainer a{
    all: unset;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 5px;
    display: inline-flex;
    text-shadow:0 0 2px purple;
    line-height: 2em;
}

.postscontainer a:hover{
    cursor: pointer;
    background-color: #65499c;
}