{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_detail.css' %}" />

<div class = "detailcontainer">
<h1>User Detail</h1>
<table>
    <tr><th>User Name</th>
    <th>User Type</th></tr>
    <tr>
        <td>{{ object.userName }}</td>
        <td>{{ object.userType }}</td>
    </tr>
</table>

{% if object.participatingIn.count != 0 %}
    <table>
    <tr><td>Contest Affiliations:</td></tr>
    {% for instance in object.participatingIn.all %}
        <tr><td>{{ instance }}</td></tr>
    {% endfor %}
    {% endif %}
    </table>

</div>

{% endblock %}