{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class = "container">
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_lists.css' %}" />

    <a href = '{{ instance.get_absolute_url }}create/' id = "createnew"> Create New User</a>
    <br><br>
    <table>
        <tr>
            <th>User Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    {% for instance in object_list %}
    <tr>
        <td>
        <a href = '{{instance.get_absolute_url }}' > 
        {{ instance.userName}}
        </a>
        </td>
    <td><a href = '{{instance.get_absolute_url }}update' > update </a></td> 
    <td><a href = '{{instance.get_absolute_url }}delete' > delete </a></td>
</tr>
{% endfor %}
</table>

</div>
{% endblock %}
