{% load static %}
<nav>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/navbar_style.css' %}" />
    <div id = "menu">
        <ul>
            <li id = "user">
            {% if request.user.userName != None and request.user.userName != "" %}
                        Current User: {{ request.user.userName }}
                    {% else %}
                        Current User: No User Logged In
            {% endif %}
            </li>
            <li><img src = "{% static 'logo/UElogo.jpg' %}" class = "logo1"/></li>
            <li><img src = "{% static 'logo/ACMlogo.png' %}" class = "logo"/></li>
            <li class="{% ifequal request.path '/home/'%} active {% endifequal%}">
                <a href="{% url 'home:homepage-view' %}"> Homepage</a>
            </li>

            <li class="{% if 'contests' in request.build_absolute_uri %} active {% endif%}">
                <a href="{% url 'contests:contest-list' %}"> Contests </a>
            </li>
            <li class="{% if 'users' in request.build_absolute_uri %} active {% endif%}">
                <a href="{% url 'users:user-list' %}"> Users </a>
            </li>
            <li class="{% ifequal request.path '/oracle/'%} active {% endifequal%}">
                <a href="{% url 'oracle:posts-list' %}"> Oracle </a>
            </li>

            <li class="{% ifequal request.path '/submission/'%} active {% endifequal%}">
                <a href="{% url 'submission:submission-list' %}"> Submissions </a>
            </li>


            <li style = "float:right"><a href="{% url 'login:logout-page' %}"> Logout </a></li>
            <li class="{% ifequal request.path '/login/'%} active {% endifequal%}"  style = "float:right">
                <a href="{% url 'login:login-page' %}"> Login </a>
            </li>
        </ul>
    </div>
</nav>