<nav>
    <div id = "menu">
        <ul>
            <div>
                <p>
                    {% if request.user.userName != None and request.user.userName != "" %}
                        Current User: {{ request.user.userName }}
                    {% else %}
                        Current User: No User Logged In
                    {% endif %}
                    <!-- Current User: {{ request.user.userName }} -->
                </p>
            </div>

            <li><a href="{% url 'account:account-view' %}"> Homepage</a></li>
            <li>Somewhere</li>
            <li>Somewhere</li>
            <a href="{% url 'login:login-page' %}"> login </a> </br>
            <a href="{% url 'contests:contest-list' %}"> contests </a> </br>
            <a href="{% url 'users:user-list' %}"> users </a> </br>
            <a href="{% url 'oracle:posts-list' %}"> Oracle </a> </br>
            <a href="{% url 'login:logout-page' %}"> Logout </a> </br>
        </ul>
    </div>
</nav>