{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style_detail.css' %}" />

<div class = "downloadpagecontainer">
<h3>Download Page</h1>
<table>
    <tr><th>Graded Status</th>
    <th>Download Link</th></tr>

<tr><td> {{ object.submissionGrade }}</td>
<td>
{% if object.submissionGrade == "inprocess" %}
    Grading in Progress
{% else %}
    <a href = '{{ object.submissionFile.url }}'> Download</a>
{% endif %}
</td>
</tr>
</table>
</div>
{% endblock %}