{% extends 'base.html' %}

{% block content %}


<h1>Submission List</h1>
<table>
{% for instance in object_list %}
    <tr>
        <td>
            {{ instance.id }}
            {{ instance.submissionTeam.userName }} --
            {{ instance.submissionProblem.problemName }}:
            {{ instance.submissionName }} - 
            {% if instance.submissionFile %}
                <a href = "{{ instance.submissionFile.url }}">download</a><br><br>
            {% endif %}

        </td>
        <td>
        Count - {{ instance.totalSubmissionCount }}
        Score - {{ instance.get_submission_score }}
    </td>
    </tr>

{% endfor %}
</table>

{% endblock %}